#top {
    border: 4px solid black;
    height: 1000px;
    margin: 50px;
    background-color: burlywood;

    #nav {
        position: relative;
        left: 270px;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        gap: 450px;

        #popup {
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 50px;
        }

        #s {
            padding-right: 0px;
            margin-right: 0px;
            font-weight: bolder;
            font-size: 50px;
        }
    }

    #box1 {
        border: 2px solid black;
        width: 400px;
        height: 400px;
        background-color: rgb(62, 62, 88);
        position: absolute;
        top: 450px;  
        right: 400px;
    }

    #box2 {
        border: 2px solid black;
        width: 400px;
        height: 400px;
        background-color: rgb(0, 255, 136);
        position: absolute;
        top: 350px ;
        right: 500px;
    }

    #box3 {
        border: 2px solid black;
        width: 400px;
        height: 400px;
        background-color: rgb(161, 138, 60);
        position: absolute;
        top: 250px ;
        right: 600px;
    }
    #footer{
        position: absolute;
        top: 1000px;
        left: 1000px;
        
        .btn{
            width: 100px;
            height: 30px;
            font-size: 20px;
            text-transform: capitalize;
            background-color: brown;
            font-family:'Times New Roman', Times, serif;
        }
    }
}